<div class="form-group">
    <label for="password">Comment</label>
    <input required value="" type="text" name="text" id="text" class="form-control">
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Send</button>