<!DOCTYPE html>
<html lang="en">

<%- include('../partial/head') %>

<body>
<div class="container">
    <h1 class="mb-4"><%= title %></h1>
    <form action="<%= useID === true ? '/news/'+element.id : '/news' %>" method="POST">
        <%- include('partial/form_field') %>
    </form>
</div>
</body>
</html>